asgiref==3.3.4
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2022.12.7
chardet==4.0.0
click==8.0.1
fastapi==0.109.1
greenlet==1.1.0
h11==0.12.0
idna==2.10
psycopg2==2.8.6
pydantic==1.8.2
python-dotenv==0.18.0
requests==2.31.0
soupsieve==2.2.1
SQLAlchemy==1.4.18
starlette==0.27.0
typing-extensions==3.10.0.0
urllib3==1.26.5
uvicorn==0.14.0
